.modal__container {
    position: absolute;

    display: flex;
    flex-direction: column;

    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 700px;
    height: 500px;

    border-radius: 8px;

    overflow-y: scroll;
}

.modal__container::-webkit-scrollbar {
    width: 12px;
}

.modal__container::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
}

.modal__container::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border: solid 2px #fff;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
    .modal__container {
        width: 550px;
    }
}

@media screen and (max-width: 650px) {
    .modal__container {
        width: 400px;
    }
}

@media screen and (max-width: 525px) {
    .modal__container {
        width: 300px;
    }
}

@media screen and (max-width: 525px) {
    .modal__container {
        width: 228px;
    }
}